@model MasterDetailCRUD.Models.Applicant

@{
    ViewData["Title"] = "Details";
}

<div class="col-11 mx-auto pt-0">
    <div class="card shadow">
        <div class="card-hearder bg-primary text-uppercase text-white" style="height: 45px;">
            <h4>View Applicant</h4>
        </div>

        <form id="ApplicantForm" enctype="multipart/form-data" asp-action="Create">

            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Qualification" class="control-label"></label>
                            <input asp-for="Qualification" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TotalExperiencie" class="control-label"></label>
                            <input asp-for="TotalExperiencie" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6 btn-group">
                        <img src="~/image/@Model.PhotoUrl" class="img-fluid border rounded"
                            width="300" height="300"/>
                    </div>

                    <div class="p-2 my-2 bg-light btn-group">

                        <div class="container col-6 p-lg-0 bg-light">

                            <table id="ExpTable" class="table table-sm table-hover CodesTable" style="margin-bottom: 0 !important">
                                <thead class="table-info">
                                    <tr>
                                        <th class="text-center">Company Name</th>
                                        <th class="text-center">Designation</th>
                                        <th class="text-center">Years Worked</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Experiences.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" asp-for="@Model.Experiences[i].CompanyName" class="form-control-plaintext">
                                            </td>
                                            <td>
                                                <input type="text" asp-for="@Model.Experiences[i].Designation" class="form-control-plaintext">
                                            </td>
                                            <td>
                                                <input type="number" asp-for="@Model.Experiences[i].YearsWorked" class="form-control-plaintext">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div class="container col-1"></div>

                        <div class="container col-5">

                            <div class="col-md-12 p-0 m-0 bg-light">
                                <table id="SoftwareTable" class="table table-sm table-hover CodesTable">
                                    <thead>
                                        <tr>
                                            <th>Software</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.SoftwareExperiences.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <select asp-for="@Model.SoftwareExperiences[i].SoftwareId" class="form-control-plaintext"
                                                            asp-items="@(await ViewBag.Softwares)"
                                                            onchange="JsonProductChange(this)"></select>
                                                </td>
                                                <td>
                                                    <select asp-for="@Model.SoftwareExperiences[i].Rating" class="form-control-plaintext"
                                                            asp-items="@ViewBag.Rating"></select>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="card-footer col-12 btn-group">
                <div class="col-6 text-end p-2">
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
              
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
